@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #494c4e;
}
body{
    font-family: 'Montserrat', sans-serif;
    height: fit-content;
}
.container{
    min-height: 100vh;
    height: fit-content;
}   

.cont{
    width: 70%;
    margin: auto;
}

.base_logo_photo{
    width: 20%;
    height: 20%;
}
.base_logo_photo img{
    width: 80%;
}
.log_reg_link{
    color: white;
    text-decoration: none;
}
.cart_icon{
    font-size: 2rem;
    transition: 0.3s ease-in-out;
}
.cart_icon:hover{
    font-size: 2.4rem;
}