.cont{
    height: 100vh;
}
.item_container{
    width: 100%;
    min-height:60%;
    height: fit-content;
    background-color: blueviolet;
    margin-top: 0.5rem;
}
.item_title{
    color: white;
    background-color: #212529;
    padding: 5px;
}
.item_data{
    width: 100%;
    height: 100%;
    background-color: #292b2c;
}

.item_data_cont{
    display: flex;
    justify-content: space-between;
    height: 70%;
}
.item_photo{
    width: 50%;
    height: 100%;
}
.item_photo_img{
    width: 100%;
    width: 100%;
}
.item_photo img{
    width: 100%;
    height: 90%;
}
.item_description{
    width: 50%;
    height: 100%;
    padding: 5px;
    color: white;
}

.item_description p {
    font-size: 30px;
}
.item_description a{
    height: 10%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #212529;
    transition: 0.5s ease-in-out;
}
.item_description a:hover{
    width: 100%;
}
.category_items_display{
    height: 20rem;
    width: 100%;
    background-color: #292b2c;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.phone_display{
    height: 100%;
    width: 20%;
    margin: 0 4rem 0 1rem;
    flex-shrink: 0;
    padding: 10px;
    flex-shrink: 0;
}

.phone_display img{
    width: 25rem;
    height: 15rem;
}
.phone_display a{
    width: 25rem;
    height: fit-content;
    border: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.phone_display a:hover{
    background-color: white;
    color: black;
}
.btn_container{
    width: 100%;
    height: 6rem;
    background-color: #292b2c;
}
.left_right{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
.left_right button{
    width: 50% ;
    height: 100%;
}