
.register_container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
}

.register_form_container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.left_form_container{
    width: 42%;
    height: 100%;
    background-color:#292b2c;
    padding: 3rem;
}
#shop_image_register{
    height: 100%;
    width: 100%;
}

.right_form_container{
    width: 58%;
    height: 100%;
    background-color:#343a40;
    padding: 1rem 4rem 4rem 2rem;
    display: block;
    color: white;
}
.form-control{
    width: 96%;
    border-radius: 0;
    margin: 2rem 0 2rem 0;
    height: 3rem;
    transition: 0.3s ease-in-out;
}
.form-control:focus{
    width: 100%;
    border-radius: 5px;
}
